@import "../../../App.scss";

#about {
  .about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
  }
  .about-pic {
    width: 398px;
    height: 510px;
    border-radius: 30px;
    border: 20px solid var(--bg-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  .about {
    width: 60%;
  }
  .about-heading {
    font-size: 30px;
    font-weight: 600;
    color: $primary-color;
  }
  .about-info {
    font-size: 18px;
    color: var(--color);
    line-height: 25px;
    text-align: justify;
  }
  .skill-set-heading {
    font-size: 22px;
    color: $primary-color;
  }
  .skill {
    font-size: 18px;
    line-height: 35px;
    color: var(--color);
    list-style: disc;
  }
  #about .wapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: $xl-width) {
  .about-content {
    flex-direction: row;
  }
}
@media (max-width: $lg-width) {
  .about-content {
    flex-direction: row;
  }
}
@media (max-width: $md-width) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about-pic {
    margin-bottom: 2em;
  }
  #about .about {
    width: 80%;
  }
}
