@import "../../../App.scss";

.services-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.services-card {
  height: 250px;
  width: 30%;
  min-width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5em 2em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  margin-right: 2em;
  margin-bottom: 2em;
}
.services-card .icon {
  width: 55px;
  fill: white;
}
.services-card .card-heading {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.services-card .card-info {
  font-size: 15px;
  color: white;
  text-align: center;
}
.card-1 {
  background-color: darken(#8540ff, 10%);
}
.card-2 {
  background-color: darken(#ffc50c, 10%);
}
.card-3 {
  background-color: darken(#ec407a, 10%);
}
.card-4 {
  background-color: darken(#ff6331, 10%);
}
.card-5 {
  background-color: darken(#13b6ff, 10%);
}
.card-6 {
  background-color: darken(#49af46, 10%);
}
.card-1:hover {
  background-color: darken(#8540ff, 30%);
}
.card-2:hover {
  background-color: darken(#ffc50c, 30%);
}
.card-3:hover {
  background-color: darken(#ec407a, 30%);
}
.card-4:hover {
  background-color: darken(#ff6331, 30%);
}
.card-5:hover {
  background-color: darken(#13b6ff, 30%);
}
.card-6:hover {
  background-color: darken(#49af46, 30%);
}
@media (max-width: $xl-width) {
}
@media (max-width: $lg-width) {
}
@media (max-width: $md-width) {
}
