html {
  --bg: #161d26;
  --bg-color: #1f2935;
  --color: #a5afc4;
  --white: #eee;
  scroll-behavior: smooth !important;
}
html[data-theme="dark"] {
  --bg: #f5f5f5;
  --bg-color: #eee;
  --color: #1f2935;
  --white: #161d26;
  .image {
    filter: invert(0.5);
  }
}
$primary-color: #0abead;
$secondary-color: #f57f17;
$xl-width: 1260px;
$lg-width: 1060px;
$md-width: 960px;
$sm-width: 560px;
$heading-font-size: 26px;
$normal-font-size: 16px;
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:focus {
  background-color: transparent !important;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--bg);
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth !important;
}
body::-webkit-scrollbar {
  background-color: var(--bg-color);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    $primary-color,
    darken($primary-color, 10%)
  );
  border-radius: 5px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav {
  width: 100%;
  max-width: $xl-width;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 23px;
  background: $primary-color;
  float: right;
  border-radius: 100px;
  position: relative;
  user-select: none;
}
.label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 17px;
  background: var(--bg-color);
  border-radius: 90px;
  transition: 1000ms;
  user-select: none;
}
input:checked + .label {
  background: $primary-color;
}
input:checked + .label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.label:active:after {
  width: 45px;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}
.brand-name {
  font-size: $heading-font-size;
  font-weight: bold;
  color: $primary-color;
  letter-spacing: 2px;
  text-decoration: none;
}
.menu-btn {
  margin-right: 20px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: $primary-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: $primary-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
.nav-link {
  font-size: 15px;
  text-decoration: none;
  background-color: var(--bg-color);
  color: var(--color);
  padding: 0 1em;
  user-select: none;
}
.nav-link:hover {
  color: $primary-color;
}
.mobile-nav {
  display: none;
  flex-direction: column;
  width: 100vw;
  padding: 1em auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.mobile-nav-link {
  display: flex;
  padding: 1em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 6vh;
  font-size: 15px;
  text-decoration: none;
  background-color: var(--bg-color);
  color: var(--color);
  user-select: none;
}
.mobile-nav-link:hover {
  background-color: $primary-color;
  color: var(--bg-color);
}
@media (max-width: $xl-width) {
  .nav {
    max-width: $lg-width;
  }
}
@media (max-width: $lg-width) {
  .nav {
    max-width: $md-width;
  }
  .brand-name {
    padding: 0 0.5em;
  }
}
@media (max-width: $md-width) {
  .nav {
    max-width: $md-width;
    padding-right: 5px;
  }
  .desktop-nav {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--bg-color);
}
.footer-wrapper {
  width: 100%;
  max-width: $xl-width;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-heading {
  font-size: $normal-font-size;
  color: var(--color);
  letter-spacing: 2px;
  text-decoration: none;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.social-links {
  width: 30px;
  margin-left: 4em;
  transform: scale(1);
}
.social-links:hover {
  transition: 200ms;
  transform: scale(1.2);
}
.image {
  filter: invert(0.1);
}
@media (max-width: $xl-width) {
  .footer-wrapper {
    max-width: $lg-width;
  }
}
@media (max-width: $lg-width) {
  .footer-wrapper {
    max-width: $md-width;
  }
}
@media (max-width: $md-width) {
  .footer-wrapper {
    max-width: $md-width;
    padding: 0 1em;
  }
  .social-links {
    margin-left: 2em;
  }
}
